mat-spinner {
    margin: 0 auto;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.welcome {
    font-size: 4vw;
    word-wrap: normal;
}

.total {
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 22px;

    .total-label {
        font-size: 1.5em;
    }

    .saldo-container {
        position: relative;
        margin-right: 2em;
    }
    
    .value {
        font-weight: bold; 
        color: rgba($color: #005a0c, $alpha: 1.0);
        font-size: 2em;
    }
    
    .saldo {
        color: #3f51b5;
    }

    mat-icon {
        position: absolute;
        top: 0px;
        right: 0px;
        font-size: 1.5em;
        text-align: right;
        cursor: pointer;
    }
    input[type=number] {
        border-bottom: 1px solid grey;
    }
}

::ng-deep .mat-tooltip {
    text-align: center;
    font-size: 0.9em;
  }

.tooltip-icon {
    font-size: 0.8em;
    vertical-align: top;
    cursor: default;
}

.edit-saldo {
    mat-icon {
        color: green;
    }
}

.divisor {
    margin: 4vh 0;
    border: 1px solid #000;
}

.separador {
    margin: 4vh 0;
}

.footer {
  height: 2vh;
}



::ng-deep .mat-tab-header .mat-tab-label {
    border: 1px solid rgba(0, 0, 0, 0.12);
}

.cards-container {

    font-size: 0.7vw;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 0 10vh 0;

    .info-card {

        .sub-card-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 1vw;
            box-sizing: border-box;
            margin: 0 0 2% 0;
        }

        .divisor {
            margin: 5% 0;
            border: 1px solid #000;
        }

        .ticker {
            font-size: 3em;
            font-weight: bold; 
            color: #3f51b5;
        }

        .ticker-novo {
            font-size: 1.8em;
            font-weight: bold; 
            color: #3f51b5;

            .mat-form-field-wrapper {
                padding-bottom: 0;
            }
        }

        .ticker-novo-quantidade {
            width: 7em;
            font-size: 1.5em;
            font-weight: bold; 
            color: #3f51b5;

            .mat-form-field-wrapper {
                padding: 0;
            }
        }

        .ticker-novo-peso {
            width: 3em;
            font-size: 1.5em;
            font-weight: bold; 
            color: #3f51b5;

            .mat-form-field-wrapper {
                padding-bottom: 0;
            }
        }

        .novo-ativo-input-card {
            padding: 0;
            margin: 0;
        }

        .botao-novo-ativo {
            margin-left: 1em;
        }

        .quantidade {
            font-size: 1.5em;
            font-weight: bold; 
            color: #000;
        }

        .cotacao {
            font-size: 1.5em;
            font-weight: bold; 
            color: #005a0c;
        }

        .comprar {
            color: green;
            font-size: 1.5em;
        }

        .aguardar {
            color: #3f51b5;
            font-size: 1.5em;
        }

        .buttons {
            font-size: 1em;
            margin-top: 5%;
            justify-content: flex-start;
        }

        input[type=number] {
            font-weight: 100;
            font-size: 0.9em;
            background: transparent;
            border: 1px solid rgb(219, 226, 235);
            border-radius: 5px;
            text-align: center;
        }

        input[type=number].novo-input {
            font: inherit;
            background: transparent;
            color: currentColor;
            border: none;
            outline: none;
            padding: 0;
            margin: 0;
            width: 100%;
            max-width: 100%;
            vertical-align: bottom;
            text-align: inherit;
        }
    }
}

.info-card-width {
    width: 28%;
    margin: 1% 0 0 1%;
    padding: 2%;
}

.link-icon {
    height: 40px;
    width: 40px;
    font-size: 1.5em;
    vertical-align: middle;
    cursor: pointer;
}

a:link {
    text-decoration: none;
    color: #0000FF;
}

a:visited {
    text-decoration: none;
    color: #0000FF;
}

a:hover {
    text-decoration: none;
    color: #0000FF;
}

a:active {
    text-decoration: none;
    color: #0000FF;
}

.link-icon {
    margin: 0.1em;
    width: 0.6em;
    height: 0.6em;
}

@media only screen and (max-width: 1300px) {
    .info-card-width {
        width: 43%;
        margin: 1% 0 0 1%;
        padding: 3%;
    }

    .cards-container .info-card {
        font-size: 12px;
    }
}

@media only screen and (max-width: 900px) {
    .info-card-width {
        width: 100%;
        margin: 0 0 4% 0;
        padding: 4%;
    }

    .cards-container .info-card {
        font-size: 12px;
    }

    .welcome {
        display: none;
      }

      .flex-container {
        justify-content: space-evenly;
      }
}

@media only screen and (max-width: 650px) {

    .total {
      font-size: 15px;
    }
}

@media only screen and (max-width: 450px) {

    .total {
      font-size: 13px;
    }
}

@media only screen and (max-width: 375px) {

    .total {
      font-size: 10px;
    }

    .cards-container .info-card {
        font-size: 8px;
    }
}