<section class="page-section-pricing bg-light">

    <div class="container">
        <div class="text-center">
            <div class="pricing-page-title">Assinatura</div>
        </div>
        <br/>
        <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-6 col-md-8 col-sm-10">
                <div class="pricing-item">
                    <div class="pricing-header">
                        <h3 class="pricing-title">Plano Mensal</h3>
                        <div class="pricing-price">R$ 4,99</div>
                        <div class="pricing-sub-title">por mês</div>
                    </div>
                    <div class="pricing-body">
                        <div class="list">
                            <div><mat-icon class="check-icon">check</mat-icon>Cadastro de ações e fundos imobiliários</div>
                            <div><mat-icon class="check-icon">check</mat-icon>Gráficos para acompanhamento da carteira</div>
                            <div><mat-icon class="check-icon">check</mat-icon>Indicadores para ajuda nos aportes</div>
                            <div><mat-icon class="check-icon">check</mat-icon>Balanceamento completo</div>
                            <div><mat-icon class="check-icon">check</mat-icon>Quarentena de ativos</div>
                        </div>
                    </div>
                    <div class="pricing-footer">
                        <button mat-raised-button color="primary" disabled>
                            Em breve
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>