.sobre-container {
    margin: 0 auto;
    max-width: 500px;
}

.sobre-card {

    padding: 8% 5%;
    text-align: center;

    img {
        width: 50%;
        margin: 5% auto;
    }

    .title {
        font-size: 3rem;
    }
}

.pricing-page-title {
    color: #000;
    font-size: 3em;
    font-weight: bold;
}

.pricing-item {
    border: 3px solid #3f51b5;
    color: #fff;
    text-align: center;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 30px 0px 20px 0px;
    margin: 2%;

    .pricing-title {
        border-radius: 10px;
        color: #000;
        font-size: 2.5em;
        font-weight: bold;
    }

    .pricing-price {
        border-radius: 10px;
        color: rgb(60, 100, 170);
        font-size: 2em;
        font-weight: bold;
        margin-top: 4%;
    }

    .pricing-sub-title {
        border-radius: 10px;
        color: rgb(60, 100, 170);
        font-size: 1em;
        margin: 0 5% 4% 5%;
        font-weight: bold;
    }

    .pricing-body {
        border-radius: 10px;
        color: #000;
        font-size: 1em;

        .active {
            color: green;
        }

        .list div {
            margin: 2% 0;
        }
    }

    .pricing-footer {
        margin-top: 5%;
        font-size: 1.2em;

        button {
            width: 90%;
        }
    }
  }

  .page-section-pricing {
      padding: 1rem 0 1rem 0;
  }

  .check-icon {
      vertical-align: bottom;
  }