<div *ngIf="carteira">
    <div class="flex-container">
        
        <div class="welcome">
            <span>Sua carteira,<br/>{{name}}</span>
        </div>
        
        <div class="total">
            <p>Saldo</p>
            
            <div *ngIf="!saldo_editable">
                <span mat-icon-button aria-label="editar">
                    <mat-icon (click)="saldo_editable = true">edit</mat-icon>
                </span>
                <p class="value saldo">{{carteira.saldo | brl}}</p>
            </div>
            
            <div class="edit-saldo" *ngIf="saldo_editable">
                <span mat-icon-button aria-label="editar">
                    <mat-icon (click)="alterarSaldo(saldo_input.value)">check</mat-icon>
                </span>
                <input #saldo_input matInput type="number" min="0" max="10000000" step="10" class="value saldo" [value]="carteira.saldo.toFixed(2)" />
            </div>
        </div>
        
        <div class="total">
            <p>Investido</p>
            <p class="value">{{investido | brl}}</p>
        </div>
    </div>
    
    <div class="divisor"></div>
    
    <div class="table-container">
        
        <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            
            <ng-container matColumnDef="editar">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element; let i = index">
                    
                    <button *ngIf="i != ativo_editable_row" mat-icon-button aria-label="editar" (click)="editarAtivo(i)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    
                    <button *ngIf="i == ativo_editable_row" mat-icon-button aria-label="salvar" (click)="salvarAtivo()">
                        <mat-icon>check</mat-icon>
                    </button>
                    <button *ngIf="i == ativo_editable_row" mat-icon-button aria-label="deletar" (click)="deletarAtivo(i)">
                        <mat-icon>delete</mat-icon>
                    </button>
                    
                </mat-cell>
                
                <mat-footer-cell *matFooterCellDef>
                    <button mat-icon-button aria-label="concluir" (click)="adicionarAtivo()">
                        <mat-icon style="color: green">add</mat-icon>
                    </button>
                </mat-footer-cell>
            </ng-container>
            
            <ng-container matColumnDef="ticker">
                <mat-header-cell *matHeaderCellDef>Ativo</mat-header-cell>
                <mat-cell *matCellDef="let element" class="w-75">{{element.ticker}}</mat-cell>
                <mat-footer-cell *matFooterCellDef>
                    <mat-form-field>
                        <mat-select [(ngModel)]="novo_ativo.ticker">
                            <mat-option *ngFor="let ticker of ativos" [value]="ticker">{{ticker}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-footer-cell>
            </ng-container>
            
            <ng-container matColumnDef="quantidade">
                <mat-header-cell *matHeaderCellDef>Qtde.</mat-header-cell>
                <mat-cell *matCellDef="let element; let i = index">
                    
                    <span *ngIf="i != ativo_editable_row">{{element.quantidade}}</span>
                    
                    <mat-form-field *ngIf="i == ativo_editable_row">
                        <input type="number" matInput [(ngModel)]="element.quantidade" min="0" max="1000000" step="1">
                    </mat-form-field>
                    
                </mat-cell>
                
                <mat-footer-cell *matFooterCellDef>
                    <mat-form-field>
                        <input type="number" matInput [(ngModel)]="novo_ativo.quantidade" min="0" max="1000000" step="1" placeholder="Ex. 5">
                    </mat-form-field>
                </mat-footer-cell>
            </ng-container>
            
            <ng-container matColumnDef="peso">
                <mat-header-cell *matHeaderCellDef>Peso</mat-header-cell>
                <mat-cell *matCellDef="let element; let i = index">
                    
                    <span *ngIf="i != ativo_editable_row">{{element.peso}}</span>
                    
                    <mat-form-field *ngIf="i == ativo_editable_row">
                        <input type="number" matInput [(ngModel)]="element.peso" min="0" max="100" step="1">
                    </mat-form-field>
                    
                </mat-cell>
                <mat-footer-cell *matFooterCellDef>
                    <mat-form-field>
                        <input type="number" matInput [(ngModel)]="novo_ativo.peso" min="0" max="100" step="1" placeholder="Ex. 10">
                    </mat-form-field>
                </mat-footer-cell>
            </ng-container>
            
            <ng-container matColumnDef="cotacao">
                <mat-header-cell *matHeaderCellDef>Cotação</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.cotacao | brl}}</mat-cell>
                <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>
            
            <ng-container matColumnDef="valor">
                <mat-header-cell *matHeaderCellDef>Valor</mat-header-cell>
                <mat-cell *matCellDef="let element">{{(element.cotacao * element.quantidade) | brl}}</mat-cell>
                <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>
            
            <ng-container matColumnDef="acao">
                <mat-header-cell *matHeaderCellDef>Ação</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.acao}}</mat-cell>
                <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>
            
            <ng-container matColumnDef="valor_acao">
                <mat-header-cell *matHeaderCellDef>Valor</mat-header-cell>
                <mat-cell *matCellDef="let element">{{(element.acao * element.cotacao) | brl}}</mat-cell>
                <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>
            
            <ng-container matColumnDef="concluir">
                <mat-header-cell *matHeaderCellDef>Executar</mat-header-cell>
                <mat-cell *matCellDef="let element; let i = index">
                    <button *ngIf="element.acao > 0" mat-icon-button aria-label="concluir" (click)="executarCompra(i)">
                        <mat-icon style="color: green">check</mat-icon>
                    </button>
                </mat-cell>
                
                <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>
            
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>
        </mat-table>
    </div>
</div>