<div class="home-container">

  <mat-card class="home-card">

      <div class="title">Conheça o Aporte Fácil</div>

      <img mat-card-image src="../../../assets/logo.png" alt="logo">

      <mat-card-content>

        <p class="sub-title">
          Somos uma forma fácil de visualizar e distribuir corretamente seus aportes entre os ativos de sua carteira.
        </p>

        <p class="steps">
          1. Faça seu login
          <br/><br/>
          <button mat-raised-button color="primary" (click)="navigateTo('/login')">
            Acesse agora mesmo!
          </button>
        </p>

        <p class="steps">
          2. Adicione seus ativos informando quantidade e peso
          <br/><br/>
          <img mat-card-image src="../../../assets/step2.png" alt="logo">
        </p>

        <p class="steps">
          3. Informe quanto quer aportar em sua carteira
          <br/><br/>
          <img mat-card-image src="../../../assets/step3.png" alt="logo">
        </p>

        <p class="steps">
          4. Obtenha a distribuição ideal para o melhor balanceamento
          <br/><br/>
          <img mat-card-image src="../../../assets/step4.png" alt="logo">
        </p>

      </mat-card-content>
    </mat-card>
</div>