.home-container {
    margin: 0 auto;
}

.home-card {

    padding: 5%;
    margin-bottom: 15%;
    text-align: center;

    img {
        max-width: 40%;
        margin: 2% auto;
    }

    .title {
        font-size: 2.5rem;
        color: #3f51b5;
    }

    .sub-title {
        font-size: 1.5rem;
        font-weight: normal;
        margin: 2% 0 4% 0;
    }

    .steps {
        font-size: 1rem;
        padding: 3%;
        border-radius: 5px;
    }
}

.logo {
    font-family: Logo;
    border-radius: 50%;
    background-color: #3f51b5;
    font-weight: bold;
    font-size: 18vmax;
    color: #fff;
    width: 20vmax;
    height: 20vmax;
    margin: 0 auto;
}