.login-container {
    margin: 0 auto;
    max-width: 500px;
}

.login-card {

    padding: 8% 5%;
    text-align: center;

    img {
        width: 50%;
        margin: 0 auto;
    }

    .title {
        font-size: 3rem;
    }
}

.login-img {
    cursor: pointer;
}

mat-spinner {
    margin: 0 auto;
}