<div class="login-container">

    <mat-card class="login-card">

        <div class="title">Aporte Fácil</div>

        <img mat-card-image src="../../../assets/logo.png" alt="logo">
        <mat-card-content>
          <p>
            Forma fácil de visualizar a distribuição correta de seu aporte entre os ativos de sua carteira.
            <br/><br/>
            Faça login e matenha sua carteira de ações/FIIs sempre equilibrada de forma simples e rápida.
          </p>
        </mat-card-content>

        <!-- Loading spinner -->
        <mat-card-actions *ngIf="loading">
          <div>
            <mat-spinner diameter="50"></mat-spinner>
          </div>
        </mat-card-actions>

        <!-- Login with social media -->
        <mat-card-actions *ngIf="!loading">
            <button mat-raised-button color="warn" (click)="signInWithGoogle()">
                <mat-icon>account_circle</mat-icon>
                Login with Google
            </button>
            <!--button mat-raised-button color="primary" (click)="signInWithFacebook()">
                <mat-icon>facebook</mat-icon>
                Login with Facebook
            </button-->
        </mat-card-actions>
      </mat-card>
</div>
