<section class="page-section bg-light" id="team">

  <div class="container">

    <div class="text-center">
      <h2 class="section-heading text-uppercase">Faça seu login</h2>
      <h3 class="section-subheading text-muted">Começe agora mesmo à manter sua carteira de ações/FIIs sempre
        equilibrada de forma simples e rápida.</h3>
    </div>

    <!-- Loading spinner -->
    <mat-card-actions *ngIf="loading">
      <div>
        <mat-spinner diameter="50"></mat-spinner>
      </div>
    </mat-card-actions>

    <div class="row justify-content-center" *ngIf="!loading">

      <div class="col-lg-3">
        <div class="team-member">
          <img class="mx-auto rounded-circle login-img" src="assets/img/google.png" alt="..."
            (click)="signInWithGoogle()" />
          <h4>Login with</h4>
          <p class="text-muted">Google</p>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="team-member">
          <img class="mx-auto rounded-circle login-img" src="assets/img/fb.svg" alt="..."
            (click)="signInWithFacebook()" />
          <h4>Login with</h4>
          <p class="text-muted">Facebook</p>
        </div>
      </div>

    </div>

  </div>
</section>