<div class="sobre-container">

    <mat-card class="sobre-card">

        <div class="title">Quem somos?</div>

        <img mat-card-image src="../../../assets/logo.png" alt="logo">
        <mat-card-content>
          <p>
            Forma fácil de visualizar a distribuição correta de seu aporte entre os ativos de sua carteira.
            <br/><br/>
            Faça login e matenha sua carteira de ações/FIIs sempre equilibrada de forma simples e rápida.
          </p>
        </mat-card-content>
      </mat-card>
</div>
