<div class="sobre-container">

    <mat-card class="sobre-card">

        <div class="title">Quem somos?</div>

        <img mat-card-image src="../../../assets/quem_somos.png" alt="logo">
        <mat-card-content>
          <p>
            Somos desenvolvedores e investidores para longo prazo que sentiam falta de uma forma fácil para controlar e distribuir os aportes entre os ativos da carteira.
            <br/><br/>
            Por isso trouxemos o Aporte Fácil para resolver e facilitar a vida de todos na mesma situação! 
            <br/><br/>
            Para entrar em contato, nos <a href="mailto:aportefacil@gmail.com">envie um e-mail</a>.
          </p>
        </mat-card-content>
      </mat-card>
</div>
