<section class="page-section bg-light">

    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Planos</h2>
            <h3 class="section-subheading text-muted">Conheça nossas opções de planos e escolha o que mais se adequa ao seu estilo.</h3>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-5 col-sm-8">
                <div class="pricing-item active">
                    <div class="pricing-header">
                        <h3 class="pricing-title">Grátis</h3>
                    </div>
                    <div class="pricing-body">
                        <div class="list">
                            <div>FIIs e Ações</div>
                            <div>Indicadores de performance</div>
                            <div>Balanceamento completo</div>
                            <div>Quarentena de ativos</div>
                        </div>
                    </div>
                    <div class="pricing-footer">
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-5 col-sm-8">
                <div class="pricing-item">
                    <div class="pricing-header">
                        <h3 class="pricing-title">Premium</h3>
                    </div>
                    <div class="pricing-body">
                        <div class="list">
                            <div>FIIs e Ações</div>
                            <div>Indicadores de performance</div>
                            <div>Balanceamento completo</div>
                            <div>Quarentena de ativos</div>
                            <br/>
                            <div class="active">Múltiplas carteiras</div>
                            <div class="active">Ativos ilimitados</div>
                            <div class="active">Livre de anúncios</div>
                            <div class="active">Exportar posição</div>
                        </div>
                    </div>
                    <div class="pricing-footer">
                        <button mat-raised-button color="primary">
                            Assinar
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>