<section class="page-section bg-light">

    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Planos</h2>
            <h3 class="section-subheading text-muted">Conheça nossas opções de planos e escolha o que mais se adequa ao seu estilo.</h3>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-5 col-sm-8" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s">
                <div class="pricing-item active">
                    <div class="pricing-header">
                        <h3 class="pricing-title">Grátis</h3>
                    </div>
                    <div class="pricing-body">
                        <div class="list">
                            <div>250 GB space</div>
                            <div>5000 GB transfer</div>
                            <div>Pro Design Panel</div>
                        </div>
                    </div>
                    <div class="pricing-footer">
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-5 col-sm-8" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s">
                <div class="pricing-item">
                    <div class="pricing-header">
                        <h3 class="pricing-title">Premium</h3>
                    </div>
                    <div class="pricing-body">
                        <div class="list">
                            <div>250 GB space</div>
                            <div>5000 GB transfer</div>
                            <div>Pro Design Panel</div>
                            <div class="active">New feature</div>
                            <div class="active">Another feature</div>
                        </div>
                    </div>
                    <div class="pricing-footer">
                        <button mat-raised-button color="primary">
                            Assinar
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>