.sobre-container {
    margin: 0 auto;
    max-width: 500px;
}

.sobre-card {

    padding: 8% 5%;
    text-align: center;

    img {
        width: 50%;
        margin: 5% auto;
    }

    .title {
        font-size: 3rem;
    }
}

.pricing-item {
    border: 3px solid #3f51b5;
    color: #fff;
    text-align: center;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 30px 0px 20px 0px;
    margin: 2%;

    .pricing-title {
        border-radius: 10px;
        color: #000;
        font-size: 1.5em;
        margin: 0 5% 10% 5%;
        font-weight: bold;
    }

    .pricing-body {
        border-radius: 10px;
        color: #000;
        font-size: 1em;

        .active {
            color: green;
        }

        .list div {
            margin: 2% 0;
        }
    }

    .pricing-footer {
        margin-top: 10%;
        font-size: 1.2em;

        button {
            width: 90%;
        }
    }
  }