<div>
    <div class="flex-container">
        
        <div class="welcome">
            <span>Sua carteira,<br/>{{name}}</span>
        </div>
        
        <div class="total">
            <p>Saldo</p>
            <span mat-icon-button aria-label="editar">
                <mat-icon>unfold_more</mat-icon>
            </span>
            <p class="value saldo">{{3000 | brl}}</p>
        </div>
        
        <div class="total">
            <p>Investido</p>
            <p class="value">{{value | brl}}</p>
        </div>
    </div>
    
    <div class="divisor"></div>
    
    <!--
        <div class="action-buttons">
            <button mat-raised-button color="primary">Novo aporte</button>
            <button mat-raised-button color="primary">Novo ativo</button>
            <button mat-icon-button aria-label="Atualizar ativos">
                <mat-icon>refresh</mat-icon>
            </button>
        </div>
    -->
    
    <mat-form-field class="table-filter">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. PETR4" #input>
    </mat-form-field>
    
    <div class="table-container">
        
        <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            
            <ng-container matColumnDef="editar">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <button mat-icon-button aria-label="editar">
                        <mat-icon>edit</mat-icon>
                    </button>
                </mat-cell>
                
                <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>
            
            <ng-container matColumnDef="ativo">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Ativo</mat-header-cell>
                <mat-cell *matCellDef="let element" class="w-75">{{element.ativo}}</mat-cell>
                <mat-footer-cell *matFooterCellDef>
                    <mat-form-field>
                        <input matInput placeholder="Ex. PETR4">
                    </mat-form-field>
                </mat-footer-cell>
            </ng-container>
            
            <ng-container matColumnDef="quantidade">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Qtde.</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.quantidade}}</mat-cell>
                <mat-footer-cell *matFooterCellDef>
                    <mat-form-field>
                        <input type="number" matInput placeholder="Ex. 5">
                    </mat-form-field>
                </mat-footer-cell>
            </ng-container>
            
            <ng-container matColumnDef="peso">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Peso</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.peso}}</mat-cell>
                <mat-footer-cell *matFooterCellDef>
                    <mat-form-field>
                        <input type="number" matInput placeholder="Ex. 10">
                    </mat-form-field>
                </mat-footer-cell>
            </ng-container>
            
            <ng-container matColumnDef="cotacao">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Cotação</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.cotacao | brl}}</mat-cell>
                <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>
            
            <ng-container matColumnDef="valor">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Valor</mat-header-cell>
                <mat-cell *matCellDef="let element">{{(element.cotacao * element.quantidade) | brl}}</mat-cell>
                <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>
            
            <ng-container matColumnDef="acao">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Ação</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.acao}}</mat-cell>
                <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>
            
            <ng-container matColumnDef="valor_acao">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Valor</mat-header-cell>
                <mat-cell *matCellDef="let element">{{(element.acao * element.cotacao) | brl}}</mat-cell>
                <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>
            
            <ng-container matColumnDef="concluir">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <button mat-icon-button aria-label="concluir">
                        <mat-icon style="color: green">check</mat-icon>
                    </button>
                </mat-cell>
                
                <mat-footer-cell *matFooterCellDef>
                    <button mat-icon-button aria-label="concluir">
                        <mat-icon style="color: green">add</mat-icon>
                    </button>
                </mat-footer-cell>
            </ng-container>
            
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>
        </mat-table>
        
        <!-- <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            
            <ng-container matColumnDef="editar">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element" colspan="1">
                    <button mat-icon-button aria-label="editar">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button aria-label="deletar">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
                
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
            
            <ng-container matColumnDef="ativo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Ativo</th>
                <td mat-cell *matCellDef="let element" class="w-75">{{element.ativo}}</td>
                <td mat-footer-cell *matFooterCellDef>
                    <mat-form-field>
                        <input matInput placeholder="Ex. PETR4">
                    </mat-form-field>
                </td>
            </ng-container>
            
            <ng-container matColumnDef="quantidade">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Qtde.</th>
                <td mat-cell *matCellDef="let element">{{element.quantidade}}</td>
                <td mat-footer-cell *matFooterCellDef>
                    <mat-form-field>
                        <input type="number" matInput placeholder="Ex. 5">
                    </mat-form-field>
                </td>
            </ng-container>
            
            <ng-container matColumnDef="peso">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Peso</th>
                <td mat-cell *matCellDef="let element">{{element.peso}}</td>
                <td mat-footer-cell *matFooterCellDef>
                    <mat-form-field>
                        <input type="number" matInput placeholder="Ex. 10">
                    </mat-form-field>
                </td>
            </ng-container>
            
            <ng-container matColumnDef="cotacao">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Cotação</th>
                <td mat-cell *matCellDef="let element">{{element.cotacao | brl}}</td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
            
            <ng-container matColumnDef="valor">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Valor</th>
                <td mat-cell *matCellDef="let element">{{(element.cotacao * element.quantidade) | brl}}</td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
            
            <ng-container matColumnDef="acao">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Ação</th>
                <td mat-cell *matCellDef="let element">{{element.acao}}</td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
            
            <ng-container matColumnDef="valor_acao">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Valor</th>
                <td mat-cell *matCellDef="let element">{{(element.acao * element.cotacao) | brl}}</td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
            
            <ng-container matColumnDef="concluir">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button aria-label="concluir">
                        <mat-icon style="color: green">check</mat-icon>
                    </button>
                </td>
                
                <td mat-footer-cell *matFooterCellDef>
                    <button mat-icon-button aria-label="concluir">
                        <mat-icon style="color: green">add</mat-icon>
                    </button>
                </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
        </table> -->
    </div>
</div>