.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.divisor {
    margin: 2vmax 0;
    border: 1px solid #000;
}

.welcome {
    //float: left;
    font-size: 4vw;
    width: 40%;
}

.total {
    //float: right;
    font-size: 2vw;
    width: 40%;
    
    .value {
        font-weight: bold; 
        color: rgba($color: #005a0c, $alpha: 1.0);
        font-size: 3vw;
    }
}